:root {
    --gray-border :rgb(155, 155, 155);
    --lavend-shadow:rgb(123, 84, 179);
    --purple-shadow:rgb(83, 57, 120);
    --gray-review:rgb(216, 216, 216);
    --gray-input:rgb(149, 149, 149);
    --purple:rgb(142, 50, 198);
    --dark-blue:rgb(1, 45, 99);
    --main-white:rgb(255, 255, 255);
    --main-gray :rgb(199, 199, 199);
    --black:rgb(2, 22, 53);
    --turquse1-1 :rgb(0, 229, 230);
    --blue1-2 :rgb(0, 168, 247);
    --lavend1-3 :rgb(154, 118, 249);
    --pink1-4 :rgb(204, 94, 194);
    --neon-pink2-1 :rgb(255, 104, 180);
    --magenta2-2 :rgb(255, 69, 225);
    --lavend2-3-4 :rgb(206, 58, 255);
    --yellow3-1:rgb(255, 225, 40);
    --light-orange3-2:rgb(255, 155, 92);
    --light-tomato3-3:rgb(255, 131, 129);
    --raspberry3-4:rgb(255, 84, 137);

}


.container {
    width: 1200px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
    

}


.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}


body {
    font-family: 'Roboto' sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0%;
}






/* header */

.header {
    background-color: var(--dark-blue);
    width: 1440px;
    height: 90px;
    margin: 0 auto;
    
}


.header-flex {
    display: flex;
    align-items: center;

}

.img-logo {
    padding-top: 10px;
    width: 100px;
    
}


.header-nav {
    margin-left: 152px ;
    margin-right: 72px;
}

.header-nav-list {
    display: flex;
    gap: 20px;
}

.list-item-link {
    color: var(--main-gray);
}

.header-nav-item:hover, :focus {
    color: var(--main-white);
}


.item-link {
    color: var(--main-gray);
}


.item-link:hover, :focus {
    color: var(--main-white);
}

.list-item {
    display:inline;
    align-items: center;
    gap: 20px;
    
    
    
}












/* main */

.hero {
    background-image: url(../img/hero-nike.png);
    background-repeat: no-repeat;
        background-position: 50%;
        color: var(--main-white);
        
        
}



.hero-img {
    margin-top: 94px;
}

.title {
    font-family: 'Playfair Display' sans-serif;
        font-size: 144px;
        font-weight: 400;
        line-height: 192px;
}

.dream-nike {
    font-family: 'Playfair Display' sans-serif;
        font-size: 72px;
        font-weight: 400;
        line-height: 96px;
}

.description {
    font-family: 'Roboto' sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0%;
        width: 508px;
        height: 84px;
}

.text {
    font-family: 'PT Serif';
        font-size: 48px;
        font-weight: 400;
        line-height: 64px;
        letter-spacing: 0%;
}

.button {
    border-radius: 10px;
    background-color: var(--purple);
    border: none;
    width:254px;
    height:67px;
    color: var(--main-white);
    margin-bottom: 84px;
    font-size: 24px;
        font-weight: 400;
        line-height: 28px;
}

/* benefits */

.advantages {
    background-image: url(../img/bg-benefits.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 1440px;
        height: 606px;
        margin: 0 auto;
        
        
}


.flex-advantages {
    display: flex;
    justify-content: center;
}





.benefits {
    display: flex;
    align-items: center;
    
    border: solid 5px var(--purple);
    padding: 25px 50px 19px;
    margin-top: 105px;
    justify-content: space-between;
    width: 1110px;
    height: 396px;
    
    
    
}


.benefits-item:not(:last-child) {
border-right: solid var(--main-white) 1px;
padding-right: 70px;
}

/* reviews */



.reviews {
    background-image:  url(../img/flowers.svg), url(../img/bg-reviews.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 520px;
        width: 1440px;
        margin: 0 auto;
        
        
}









.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-white);
    font-family: 'Playfair Display' sans-serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 64px;
}

.reviews-item {
    border-radius: 15px;
    display: inline-flex;
    flex-wrap: wrap;
    width: 255px;
    height: 299px;
    padding:  14px 14px 0 13px;
    box-shadow: 0px 16px 0px -5px rgb(123, 84, 179), 0px 30px 0px -10px rgb(83, 57, 120) ;
    padding-bottom: 10px;
    
    background-image: linear-gradient(135.00deg, var(--turquse1-1)7.292% , var(--blue1-2)26.042% , var(--lavend1-3)62.5% , var(--pink1-4)100%);
}


.eliza {
    background-image: linear-gradient(135.00deg, var(--neon-pink2-1)0% , var(--magenta2-2)26.042% , var(--lavend2-3-4)62.841% , var(--lavend2-3-4)100%);
    box-shadow: 0px 16px 0px -5px rgb(145, 89, 177), 0px 30px 0px -10px rgb(97, 51, 124);
}



.maquare {
    background-image: linear-gradient(135.00deg, var(--yellow3-1)0% , var(--light-orange3-2)30.208% , var(--light-tomato3-3)63.286% , var(--raspberry3-4)100%);
    box-shadow: 0px 16px 0px -5px rgb(185, 90, 76), 0px 30px 0px -10px rgb(115, 47, 38);
}





.date {
    color: var(--gray-review);
    margin-bottom: 15px;
}

.flex {
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.commentary {
    color: var(--main-white);
    font-family: "Roboto" sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        padding-top: 35px;
        
}

.info {
    font-size: 20px;
    
}

.who {
    color: var(--main-white);
}

.from {
    color: var(--gray-review);
}

.reviews-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* order */
input:not(:last-child) {
    margin-bottom: 10px;
    border: none;

}



.order {
    background-image: url(../img/plants.png);
    background-repeat: no-repeat;
        background-size: contain;
        height: 509px;
        width: 1440px;
        margin: 0 auto;
}

.input:first-child {
    width: 690px;
    height: 60px;
}

.submit {
    width: 248px;
    height: 68px;
    border-radius: 16px;
    background-color: var(--purple);
    color: var(--main-white);
    border: none;
    font-size: 24px;
        font-weight: 400;
        line-height: 28px;
}



.input:not(:first-child) {
    width: 580px;
    height: 50px;
}

.flex-order {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.form {
    display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
}

.sec-title {
    color: var(--main-white);
    font-family: 'Playfair Display' sans-serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 64px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
}

.input {
    border-radius: 50px;
    padding-left: 10px;
}


/* footer */

.footer {
background-size: contain;
    height: 292px;
    width: 1440px;
    background-color: var(--black);
    color: var(--main-white);
    margin: 0 auto;
}

.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}


.questions {
    display: flex;
    flex-direction: column;
    width: 354px;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 500px;
    
    
}


.footer-info {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 40px;
    
}

.top {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray-border);
    margin-top: 20px;

}

.bottom {
    display: flex;
    flex-direction: column;
    padding-bottom: 1px solid var(--main-gray);
    margin-right: 500px;
    margin-top: 10px;
    
    
}

.all-rights {
    font-size: 18px;
        font-weight: 400;
}




.cr {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 20px;
    
    
}

.country {
    display: flex;
    flex-direction: column;
    font-size: 18px;
        font-weight: 400;
    
}

.mail-link{
    color: var(--main-white);
    text-decoration:underline 1px;

}


button:hover {
    cursor: pointer;
<<<<<<< HEAD
}
=======
}
>>>>>>> 7f8c0a7197f84ee1c58d1a09460e1e47f87f4eb1
